header {
  align-items: top;
  background-color: rgb(70, 54, 103);
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 1300px;
}

.box-header {
  align-items: center;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0 0 15px 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  color: rgb(209, 202, 230);
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 20px;
  width: 800px;
  z-index: 10;
}

.box-play {
  align-items: center;
  background-color: rgb(70, 54, 103);
  box-sizing: border-box;
  color: rgb(209, 202, 230);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: top;
  margin: auto;
  position: relative;
  width: 1300px;
}

.box-header img {
  height: 40px;
}

.box-timer {
  align-items: center;
  background-color: rgb(70, 54, 103);
  box-sizing: border-box;
  color: rgb(209, 202, 230);
  display: flex;
  height: 250px;
  justify-content: center;
  margin: auto;
  width: 1300px;
}

.box-play-game {
  align-items: center;
  background-color: rgb(70, 54, 103);
  background-size: 400px;
  box-sizing: border-box;
  color: rgb(209, 202, 230);
  display: flex;
  height: 60vh;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  width: 1300px;
}

.box-play-game:before {
  background-image: url('../images/quem-quer-ser-um-milionario.png');
  background-size: contain;
  border-radius: 50%;
  content: '';
  height: 400px;
  position: absolute;
  transform: translate(-420px, -250px);
  width: 400px;
}

.box-play-game:after {
  background-image: url('../images/quem-quer-ser-um-milionario.png');
  background-size: contain;
  border-radius: 50%;
  content: '';
  height: 400px;
  position: absolute;
  transform: translate(440px, 20px);
  width: 400px;
}

.box-question {
  align-items: center;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  color: rgb(209, 202, 230);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  height: 400px;
  justify-content: center;
  padding: 20px;
  width: 550px;
  z-index: 10;
}

.box-question img {
  width: 70%;
}

.box-question p {
  font-size: 1.5rem;
  text-align: center;
}

.box-answers {
  align-items: center;
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  color: rgb(209, 202, 230);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  height: 400px;
  justify-content: center;
  margin-left: 20px;
  padding: 20px;
  width: 550px;
  z-index: 10;
}

.normal, .btn-next {
  background: rgb(70 54 103);
  border: none;
  border-radius: 10px;
  color: rgb(209, 202, 230);
  font-size: 1rem;
  height: 50px;
  margin: 5px;
  padding: 10px 5px;
  width: 400px;
}

.normal:hover, .btn-next:hover {
  background: rgb(52, 0, 95);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.55);
  font-weight: 900;
}

.normal:active, .btn-next:active {
  filter: brightness(0.5);
}

.wrong-answer {
  background: rgb(70 54 103);
  border: 3px solid red;
  border-radius: 10px;
  color: rgb(209, 202, 230);
  font-size: 1rem;
  height: 50px;
  margin: 5px;
  padding: 10px 5px;
  width: 400px;
}

.correct-answer {
  background: rgb(52, 0, 95);;
  border: 3px solid rgb(6, 240, 15);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.55);
  color: rgb(209, 202, 230);
  font-size: 1.25rem;
  font-weight: 900;
  height: 50px;
  margin: 5px;
  padding: 10px 5px;
  width: 400px;
}

.btn-next:disabled {
  background-color: rgb(209, 202, 230);
  border: solid 1px rgb(70, 54, 103);
  box-shadow: none;
  color: rgb(70, 54, 103);
  cursor: none;
  font-weight: 100;
}
