.main-settings {
  align-items: flex-start;
  background-color: rgb(70, 54, 103);
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
  margin: auto;
  width: 1300px;
}

.main-settings:before {
  background-image: url('../images/quem-quer-ser-um-milionario.png');
  background-size: contain;
  border-radius: 50%;
  content: '';
  height: 400px;
  position: absolute;
  transform: translate(-430px, 40px);
  width: 400px;
}

.main-settings:after {
  background-image: url('../images/quem-quer-ser-um-milionario.png');
  background-size: contain;
  border-radius: 50%;
  content: '';
  height: 600px;
  position: absolute;
  transform: translate(330px, 180px);
  width: 600px;
}

.box-settings {
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  color: rgb(209, 202, 230);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  justify-content: space-around;
  margin: 10px;
  margin-top: 120px;
  padding: 20px;
  position: relative;
  width: 400px;
  z-index: 16;
}

.box-settings img {
  width: 65%;
}

.box-settings label {
  width: 350px;
}

.box-settings input, .box-settings select {
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 5px;
  outline: none;
  padding: 10px;
  width: 350px;
}

.box-settings select {
  background: rgb(70 54 103);
  color: rgb(209, 202, 230);
  font-size: 1rem;
}

.box-settings select:hover {
  background: rgb(52, 0, 95);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.55);
  font-weight: 900;
}

.box-settings button {
  background: rgb(70 54 103);
  border: none;
  border-radius: 5px;
  color: rgb(209, 202, 230);
  font-size: 1rem;
  height: 50px;
  margin: 10px;
  padding: 10px 5px;
  width: 350px;
}

.box-settings button:hover {
  background: rgb(52, 0, 95);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.55);
  font-weight: 900;
}

.box-settings button:active {
  filter: brightness(0.5);
}

.box-table {
  align-items: center;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  color: rgb(209, 202, 230);
  display: flex;
  flex-direction: column;
  font-weight: 900;
  justify-content: center;
  margin: 10px;
  margin-top: 120px;
  padding: 15px;
  position: relative;
  width: 800px;
  z-index: 16;
}

.table-header th {
  background: rgba(52, 0, 95, 1);
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 180px;
}

.table-body {
  background: rgba(52, 0, 95, 0.6);
  color: white;
}

.table-body:nth-child( 2n ) {
  background: rgba(52, 0, 95, 0.3);
}

.table-body td {
  border-radius: 5px;
  font-size: 0.65rem;
  font-weight: 500;
  height: 40px;
  text-align: center;
  width: 180px;
}

.btn-tab-del {
  background: rgb(168, 2, 2);
  border: none;
  border-radius: 5px;
  color: rgb(209, 202, 230);
  font-size: 0.65rem;
  padding: 5px 20px;
}

.btn-tab-del:hover {
  background: rgb(97, 0, 0);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.55);
  font-weight: 900;
}

.btn-tab-del:active {
  filter: brightness(0.5);
}
